version: '3'

services:
  nfsd:
    image: itsthenetwork/nfs-server-alpine:11-arm
    container_name: nfsd
    restart: always
    privileged: true
    environment:
      - SHARED_DIRECTORY=/data
      - PERMITTED="192.168.86.0/24"
    volumes:
      - /mnt/2TBUSB:/data
    ports:
      - 2049:2049

